{%extends 'base.html' %}

{%block content%}

    <form action=" " method="POST">
        {% csrf_token %}
        <div >
            <label for="title">title</label>
            {{form.title}}
        </div>
        <div>
            <label for="content">Content</label>
            {{form.content}}
        </div>
        <div>
            <label for="published_date">published Date</label>
            {% comment %} <input type="date" name="published_date" id="published_date"> {% endcomment %}
            {{form.publication_date}}
        </div>
        <div>
            <label for="author">Author</label>
            {{form.author}}
        </div>
        <button type='submit'>Add blog</button>
    </form>

{%endblock%}